.HomePage{
    padding-top: 14vh;
    padding-left: 22vw;
    padding-right: 8vw;
}

.HomePage .viewSelector{
    background: white;
    color: var(--theme-dark-grey-color);
    border-radius: 3vh;
    padding: 2vh 1.5vw;
    margin: 0vh 4vw;
}

.HomePage .viewSelector .view{
    font-weight: bold;
    font-size: 1.5vh;
    margin-right: 2vw;
}

.HomePage .viewSelector .view:nth-child(1){
    position: relative;
    color: var(--theme-primary-color);
}

.HomePage .viewSelector .view:nth-child(1)::after{
    content: '';
    position: absolute;
    background-color: var(--theme-primary-color);
    width: 1.75vw;
    height: 0.35vh;
    bottom: -2.2vh;
    left: 0.25vh;
    transform-origin: left;
    animation: growAlongX 0.2s linear;
}

.HomePage .viewSelector i{
    transform: scale(0);
    animation: grow 0.35s linear;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.HomePage .viewSelector i:nth-child(3){
    margin-right: 2vw;
}

.HomePage .viewSelector i:nth-child(4){
    color: var(--theme-primary-color);
}

.HomePage .content{
    margin-left: 3.5vw;
}











.HomePage .Card{
    width: 12.5vw;
    height: 25vh;
    padding: 2vh 1vw;
    margin: 2.75vh 0.65vw;
    border-radius: 2.5vh;
    box-shadow: 0px 11px 35px -14px var(--theme-darkest-grey-color);
    animation: fade-in 0.35s ease-in-out;
}

.HomePage .Card .header .iconBtn{
    color: var(--theme-dark-grey-color);
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 1.6vw;
}

.HomePage .Card .header .iconBtn:nth-child(1){
    margin-left: 0.5vw;
}

.HomePage .PictureCard{
    background-size: cover;
    background-repeat: no-repeat;
}

.HomePage .PictureCard::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0vh;
    left: 0vw;
    border-radius: inherit;
    background-color: black;
    opacity: 0.3;
}

.HomePage .PictureCard .content{
    position: relative;
    margin-left: 0vw;
    color: white;
}

.HomePage .PictureCard .title{
    margin-top: 14vh;
    font-weight: 500;
    font-size: 1.75vh;
    text-shadow: 0px 0px 2px var(--theme-darkest-grey-color);
}

.HomePage .PictureCard .tags{
    font-size: 1.35vh;
    margin: 1vh 0vw;
    opacity: 0.7;
}

.HomePage .PictureCard .subtitle{
    font-size: 1.5vh;
    font-weight: bold;
}

















.HomePage .NewsCard{
    background: white;
}

.HomePage .NewsCard::before{
    content: '';
    position: absolute;
}

.HomePage .NewsCard .bg{
    height: 15.5vh;
    width: 100%;
    background-size: cover;
    top: 0vh;
    left: 0vw;
    border-top-left-radius: 2.5vh;
    border-top-right-radius: 2.5vh;
}

.HomePage .NewsCard .heading{
    margin-top: 14vh;
    font-weight: 500;
    font-size: 1.75vh;
    text-shadow: 0px 0px 2px var(--theme-light-grey-color);
}

.HomePage .NewsCard .description{
    font-size: 1.25vh;
    text-align: justify;
    opacity: 0.5;
    margin-top: 1vh;
}











.HomePage .Card.UploadMediaCard{
    background-color: white;
    width: 28vw;
}

.UploadMediaCard .header .avatar{
    width: 1.5vw;
}

.UploadMediaCard .header .avatar img{
    width: 100%;
}

.UploadMediaCard .header .heading{
    font-size: 1.45vh;
    opacity: 0.5;
    margin-left: 0.5vw;
}

.HomePage .Card.UploadMediaCard .header .iconBtn, .HomePage .Card.AnalyticsCard .header .iconBtn, .HomePage .Card.MediaCard .header .iconBtn{
    background-color: var(--theme-white-color);
}

.UploadMediaCard .cancelBtn{
    font-size: 1.25vh;
    font-weight: bold;
    color: var(--theme-dark-grey-color);
}

.UploadMediaCard .btn.dark{
    margin-right: 1vw;
}











.AnalyticsCard, .MediaCard{
    background-color: white;
}

.AnalyticsCard .header .heading, .MediaCard .header .heading{
    font-weight: 500;
    font-size: 1.75vh;
    text-shadow: 0px 0px 2px var(--theme-light-grey-color);
}

.AnalyticsCard .header .heading i{
    margin-left: 0.25vw;
}

.AnalyticsCard .header .heading i.positive{
    color: #74ca44;
}

.AnalyticsCard .header .heading i.negative{
    color: #f8643b;
}

.AnalyticsCard .chart{
    margin-top: 2vh;
}

.AnalyticsCard .BarChart .ticks{
    font-size: 1.25vh;
    font-weight: 500;
    color: var(--theme-dark-grey-color);
    opacity: 0.6;
}

.AnalyticsCard .BarChart .bar{
    width: 0.35vw;
    height: 19vh;
    background-color: var(--theme-white-color);
    border-radius: 0.5vh;
}

.AnalyticsCard .BarChart .bar::after{
    content: '';
    position: absolute;
    border-radius: 0.5vh;
    bottom: 0vh;
    height: 10vh;
    width: 100%;
    background-image: linear-gradient(45deg, var(--theme-primary-color), #75a2f2);
    transform: scale(0);
    transform-origin: bottom;
    animation: grow 0.5s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.AnalyticsCard .BarChart .bar:nth-child(3)::after{
    height: 8vh;
}

.AnalyticsCard .BarChart .bar:nth-child(5)::after{
    height: 10vh;
}

.AnalyticsCard .BarChart .bar:nth-child(7)::after{
    height: 3vh;
}

.AnalyticsCard .BarChart .bar:nth-child(9)::after{
    height: 13vh;
}

.AnalyticsCard .BarChart .bar:nth-child(11)::after{
    height: 17vh;
}

.AnalyticsCard .BarChart .bar:nth-child(13)::after{
    height: 14vh;
}

.AnalyticsCard .BarChart .bar:nth-child(15)::after{
    height: 16vh;
}







.MediaCard .userAvatar{
    margin-top: 2vh;
    width: 4.5vw;
}

.MediaCard .userAvatar img{
    width: 100%;
}

.MediaCard .avatarInfo{
    margin: 1vh 0vw;
}

.MediaCard .avatarInfo .avatarName{
    font-size: 1.5vh;
    font-weight: 500;
}

.MediaCard .avatarInfo .lastActive{
    color: var(--theme-dark-grey-color);
    font-size: 1.25vh;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
}

.MediaCard .avatarMedia .recentMedia{
    height: 3.75vh;
    margin: 0vh 0.3vw;
    border-radius: 1vh;
    background-size: cover;
    box-shadow: 0px 0px 4px var(--theme-light-grey-color);
    opacity: 0.8;
}

.MediaCard .avatarMedia .recentMedia img{
    width: 100%;
}

.MediaCard .avatarMedia .recentMedia.fixed{
    margin-left: 0vw;
    background-color: var(--theme-primary-color);
    color: white;
    opacity: 1;
}