@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');

.App{
  font-family: 'Fira Sans', sans-serif;

  --theme-white-color: #EFF2F5;
  --theme-dark-grey-color: #AEB1C1;
  --theme-light-grey-color: #B8CDD0;
  --theme-darkest-grey-color: #6F859A;
  --theme-black-color: #1C2E41;
  --theme-primary-color: #3c6aff;
  --theme-brown-color: #916A4A;

  height: 100vh;
  background-color: var(--theme-white-color);
  font-size: 1.85vh;

}

.btn{
  font-size: 1.25vh;
  color: white;
  background-color: var(--theme-primary-color);
  padding: 1vh 1.25vw;
  text-align: center;
  border-radius: 2vh;
  font-weight: 400;
  text-shadow: 0px 0px 1px white;
  box-shadow: 0px 0px 8px var(--theme-dark-grey-color);
}

.btn .icon{
  font-size: 1.2vh;
  margin-top: 0.3vh;
  margin-left: 0.1vw;
}